{% load i18n %}
<p>{% blocktrans with name=invite.inviter.get_display_name %}Hello {{ name }},{% endblocktrans %}</p>

<p>{% blocktrans with invitee=invite.invitee.get_display_name course=invite.course %}Your invitation has been sent to {{ invitee }} for the course <strong>{{ course }}</strong>.{% endblocktrans %}</p>

<p>{% blocktrans with expires_at=invite.expires_at|date:"DATETIME_FORMAT" %}It will expire on {{ expires_at }} if not accepted.{% endblocktrans %}</p>

<p>{% trans "Best regards," %}<br>QuizOnline</p>
