Django
celery[redis]
coverage
django-cors-headers
django-environ
django-extensions
django-filter
django-import-export
django-parler
django-schema-viewer
djangorestframework
djangorestframework-simplejwt
drf-spectacular
filetype
PyYAML
pytest
pytest-django
requests
