<div class="layout">
  <aside class="layout__left">
    <p class="center">{{ editorUi().quizPlay.quizTitleLabel }}</p>
    <p class="center">{{ editorUi().quizPlay.userLabel }}</p>
    <p class="center">{{ editorUi().quizPlay.modeLabel }}</p>
    <p class="center">{{ editorUi().quizPlay.durationLabel }}</p>
    <p class="center">09:59</p>
    <app-quiz-nav
      [items]="questionNavItems"
      [columns]="5"
      (questionSelected)="onQuestionSelected($event)"
    ></app-quiz-nav>
  </aside>

  <main class="layout__right">
    {{ editorUi().quizPlay.currentQuestion(currentQuestionIndex) }}

    <!-- exemples de boutons de test -->
    <div class="layout__actions">
      <p-button
        (onClick)="markAnswered(currentQuestionIndex)"
        icon="pi pi-check"
        [label]="editorUi().quiz.markAnswered"
      ></p-button>
      <p-button
        (onClick)="toggleFlag(currentQuestionIndex)"
        icon="pi pi-flag"
        [label]="editorUi().quiz.toggleFlag"
        severity="secondary"
        variant="outlined"
      ></p-button>
    </div>
  </main>
</div>
