@use '../../../../styles/detail-page' as detail;

@include detail.detail-page-shell();

.question-detail__buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

:host ::ng-deep .p-panel {
  background: #f2f6ff !important;
  color: black !important;
}
