<div class="user-menu">
  @if (auth.isLoggedIn()) {
    <div class="user-menu__panel-wrap">
      <p-button
        icon="pi pi-user"
        severity="secondary"
        class="user-trigger"
        [label]="auth.getUsername()"
        (click)="toggleMenu($event)"
      ></p-button>

      @if (open()) {
        <div class="user-menu__panel" (click)="$event.stopPropagation()">
          <button pButton type="button" class="user-menu__item" (click)="goPreferences()">
            {{ ui.userMenu.preferences }}
          </button>
          <button pButton type="button" class="user-menu__item" (click)="goChangePassword()">
            {{ ui.userMenu.changePassword }}
          </button>
          <button pButton type="button" class="user-menu__item user-menu__item--danger" (click)="logout()">
            {{ ui.userMenu.logout }}
          </button>
        </div>
      }
    </div>
  } @else {
    <p-button
      [label]="ui.userMenu.login"
      (click)="goLogin()"
    ></p-button>
  }
</div>
